# Backend
backend/node_modules/
backend/.env
backend/uploads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# AI Service - Python
ai-service/.venv/
ai-service/venv/
ai-service/venv-ai/
ai-service/venv-lstm/

# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db